@model Product

@{
    ViewData["Title"] = "Delete Product";
}

<br />

<h2>Delete Product</h2>

&nbsp;&nbsp;

<form method="post" >
  
    <input type="hidden" asp-for="ProdId" />
    
    <div class="form-floating mb-3">
        
        <input disabled type="number" name="txtId" class="form-control" id="floatingInputValue" required >
        <label for="floatingInputValue">@ViewBag.product.ProdId</label>
        <span asp-validation-for="ProdId" class="text-danger"></span>
     
    </div>
    
    <div class="form-floating mb-3">
        
        <input disabled type="text" name="txtName" class="form-control" id="floatingInputValue" required >
        <label for="floatingInputValue">@ViewBag.product.ProdName</label>
        <span asp-validation-for="ProdName" class="text-danger"></span>
     
    </div>

    <div class="form-floating mb-3">
        
        <input disabled type="number" name="txtPrice" class="form-control" id="floatingInputValue"  required >
        <label for="floatingInputValue">@ViewBag.product.ProdPrice</label>
        <span asp-validation-for="ProdPrice" class="text-danger"></span>
     
    </div>

    <div class="col-12">
       @*<button class="btn btn-primary" type="submit">Delete</button>*@
       <button type="submit" class="btn btn-outline-danger btn-primary">Delete</button>
    </div>
    <br />
    <a asp-action="View" asp-controller="Product">Back to List</a>

</form>



@section scripts{
    
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}