@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    &nbsp;
    <br />

    <h2 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Super Market Management System</h2>
    &nbsp;&nbsp;
    <p class="display-4">Your record book is much easier</p>

    <link href="https://unpkg.com/tailwindcss@1.0/dist/tailwind.min.css">
    &nbsp;
    <br />
    <br />

    <!--TEAM-->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Our hardworking team consists of 3 core members with the demanding skills. We are always here to provide you the services you need.</p>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/2">
                    <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="Kazim Asif/ web developer" id="teamimg" class="flex-shrink-0 rounded-lg w-28 h-28 width="400" height="400" style="border-radius:30px" object-cover object-center sm:mb-0 mb-4" src="/images/kazim.jpeg">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Kazim Asif</h2>
                            <h3 class="text-gray-500 mb-3">Web Developer</h3>
                            <p class="mb-4">I have full command on web developing and create sites that best meets the clients demands.</p>
                            <span class="inline-flex">
                    
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-4 lg:w-1/2">
                    <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="Usman Babar/ android developer" id="teamimg" class="flex-shrink-0 rounded-lg w-28 h-28 width="400" height="400" style="border-radius:30px" object-cover object-center sm:mb-0 mb-4" src="/images/emoji.jpeg">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Usman Babar</h2>
                            <h3 class="text-gray-500 mb-3">Android developer</h3>
                            <p class="mb-4">I have a firm grip on database. Sql </p>
                            <span class="inline-flex">
                    
                  </span>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/2">
                    <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="Muiz/ database expert" id="teamimg" class="flex-shrink-0 rounded-lg w-28 h-28 width="400" height="400" style="border-radius:30px" object-cover object-center sm:mb-0 mb-4" src="/images/emoji.jpeg">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Muiz</h2>
                            <h3 class="text-gray-500 mb-3">Database expert</h3>
                            <p class="mb-4">I have command on different databases like SQL, MySql..</p>
                            <span class="inline-flex">
                    
                  </span>
                        </div>
                    </div>
                </div>




    </section>














    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
