@model Order
@{
    ViewData["Title"] = "Add Product";

     Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super_Market_Management_System</title>
    <link rel="stylesheet" href="~/css/VaporbootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Super_Market_Management_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<body>
    
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


    </header>


    <div class="container">
        <main role="main" class="pb-3">
          
            <br>


<!-------here--------->


<br>
<h2>Add Product to Cart</h2>

&nbsp;&nbsp;

<form method="post">

   @*<div class="row mb-3">
       <label for="inputState" class="form-label">Category</label>
        <select id="inputState" class="form-select" name="cat" >
          <option selected>...Select Category...</option>
          @foreach (var cat in ViewBag.categories) {
              
              <option name="cid" value=@cat.Id>@cat.Name</option>
          }
        </select>
    </div>

    <div class="row mb-3">
        <label for="inputState" class="form-label">Product</label>
        <select id="inputState" class="form-select" name="product" >
          <option selected>...Select Product...</option>
          @foreach (var product in ViewBag.product) {
              
              <option name="pid" value=@product.ProdId>@product.ProdName</option>
          }
        </select>
    </div>*@

    
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="productName" required>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Total Quantity</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="totalQuantity" required>
        </div>
    </div>

    <div class="col-12">
       <button class="btn btn-primary" type="submit">Add</button>
       &nbsp;&nbsp;
        <a class="btn btn-primary" asp-action="displayCart" asp-controller="Order">Next</a>
    </div>

  
</form>
@section scripts{
    
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}




<!-------body---------------->




        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Super_Market_Management_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



</body>

</html>



