@model Cashier

@{
    ViewData["Title"] = "Edit Cashier";
}

<br />
<h2>Edit Cashier</h2>

&nbsp;&nbsp;

@*@if (Model.errorMessage.Length > 0) {
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
      <strong>@Model.errorMessage</strong>
      <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}*@

<form method="post">
    
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="name"  required>
          <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <span asp-validation-for="email" class="text-danger"></span>
          <input type="email" class="form-control" name="email"  required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
          <input type="tel" class="form-control" name="phone" required>
          <span asp-validation-for="phone" class="text-danger"></span>
        </div>
    </div>
    

   @* @if (Model.successMessage.Length > 0) {
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
              <strong>@Model.successMessage</strong>
              <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        </div>
    </div>
    }*@

    <div class="row mb-3">
        
         
        <div class="offset-sm-3 col-sm-3 d-grid">
            <input type="hidden" name="id" value="@Model.cashierid">
          <button type="submit" class="btn btn-primary">Submit</button>
          @Html.AntiForgeryToken()
        </div>
        <div class="col-sm-3 d-grid">
          <a class="btn btn-outline-primary" asp-action="View" asp-controller="Cashier" role="button">Cancel</a>
        </div>
        <a  asp-action="View" asp-controller="Cashier">Back to List</a>
    </div>


</form>